@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/nova-accent/theme.css';
@import '~primeng/resources/primeng.min.css';

html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.p-progress-spinner-circle {
  stroke: skyblue !important;
}
